<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stateline Bands | <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
  
  <%= javascript_include_tag 'clientcide.2.2.0.compressed.js' %>
  <%= javascript_include_tag 'mootools-1.2.4.4-more.js' %>
  <%= javascript_include_tag 'slb.js' %>
   
  <script type="text/javascript"> 
	 
	  Clientcide.setAssetLocation('dmw/js/Assets');
	 
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16668540-1']);
	  _gaq.push(['_trackPageview']);
	 
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script> 

</head>
<body>

<div id="container">
	<div id="header2">
		
		<div class="header_links">
			<ul style="float: right;">
				<li class="first"><%=link_to "Log In / Register", login_path %></li>
				<li><%=link_to "Help", help_path %></li>
				<li><%=link_to "FAQ", faq_path %></li>
			</ul>
		</div>
		
		<div style="float: left;"><%=link_to(image_tag("header2.png"), home_path) %></div>
		<div class="clearfloat">&nbsp;</div>	
	</div>
	
	
	<% if flash[:notice] %>
	<p style="color: green"><%= flash[:notice] %></p>
	<% end %>
	
	<div id="content">
		<%= yield %>
		<div style="clear: both; line-height:1px;">&nbsp;</div>
	</div>
	
	<div id="footer">
		<ul style="float: left; margin-left: 20px;" class="footer">
			<li class="first">&copy; 2011 Stateine Bands.  All Rights Reserved.</li>
		</ul>	
		<ul style="float: right; margin-right: 20px;" class="footer">
			<li class="first"><%=link_to "Rules", rules_path %></li>
			<li><%=link_to "Terms &amp; Conditions", terms_path %></li>
			<li><%=link_to "Contact Us", contact_path %></li>
			<li><%=link_to "About Us", about_path %></li>
		</ul>
		
		<div class="clearfloat"></div>	
	</div>
</div>
</body>
</html>

